<body>
    <p id="notice"><%= notice %></p>
  <p class="main1">
   <strong>Title:</strong>
   <%= @book.title %>
  </p>
  <p class="main1">
   <strong>Body:</strong>
   <%= @book.body %>
  </p>
  <ul class="main2">
   <li><%= link_to "Edit", edit_book_path(@book) %></li>
   <li>|</li>
   <li><a href="/books">Back</a></li>
  </ul>
</body>
