<body>
    <p id="notice"></p>
 <p>
  <strong>Title:</strong>
  <%= @book.title %>
 </p>
 <p>
  <strong>Body:</strong>
  <%= @book.body %>
 </p>
  <%= link_to "編集", edit_book_path(@book) %>
  <%= link_to "削除", book_path(@book), method: :delete %>
</body>